<mat-card>
    <mat-card-header>
      <mat-card-title>Ejercicio 1</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div style="display: flex; flex-direction: column;">
        <mat-form-field appearance="fill">
            <mat-label>Hora</mat-label>
            <input matInput type="number" >
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Minutos</mat-label>
            <input matInput type="number" >
        </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
    <button mat-raised-button color="primary">Calcular monto</button> 
    </mat-card-actions>
  </mat-card>
