<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>T3- Sebastian Otara</span>&nbsp;&nbsp;
    <button mat-raised-button color="warn" (click)="Ejercicio1()">Ejercicio 1</button>&nbsp;&nbsp;
    <button mat-raised-button color="warn" (click)="Ejercicio2()">Ejercicio 2</button>&nbsp;&nbsp;
    <button mat-raised-button color="accent" (click)="logout()"><mat-icon>settings_power</mat-icon></button>
  </mat-toolbar>

<router-outlet />

